@{
    ViewBag.Title = "Home Page";
}

    <h1 align="center">Control Tower</h1>
    
    <img src="~/Content/Pictures/airport.jpg" class="tower"  alt="Picture of a control tower with planes" height="580"/>
    

    <div class="row" align="center">
        <div class="col-md-2 col-md-offset-5">
            <div><h2>Flights info</h2></div>
            <button class="btn btn-default">@Html.ActionLink("Flights", "Index", "flights")</button>
        </div>
    </div>

    <style>
        tower {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h2{
            display:inline;
        }
    </style>